<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{.title}}</title>
  </head>
  <body style="background-color: rgb(192, 215, 228);">
    <div class="container my-5">
        <div class="lg-12" style="text-align: center; border: 0px;"><p>Admin-Panel</p></div>
        <div class="row">
              <div class="lg-4">
              <div id="purchase" onclick="toggleCtrls(this.id)" class="admn_buttons btn btn-primary m-1">Purchase</div><br>
              <div id="orders" class="admn_buttons btn btn-primary m-1">Execure Orders</div><br>
              <div id="stockadj" onclick="toggleCtrls(this.id)" class="admn_buttons btn btn-primary m-1">Stock Adjust</div><br>
              <div id="category" onclick="toggleCtrls(this.id)" class="admn_buttons btn btn-primary m-1">New Fish Catgory</div><br>
              <div id="reports" class="admn_buttons btn btn-primary m-1">Reports</div><br>
              <div id="logout" onclick="location.href='http://debian:8080/logout';" class="admn_buttons btn btn-primary m-1">Logout</div><br>
              <!-- <div id="logout" onclick="location.href='http://debian:8080/logout';" class="admn_buttons btn btn-primary m-1">Logout</div><br> -->
          </div>
            <div class="lg-12 " style="border: 0px;"><!--Main DIV rightSide-->
              <form id="admin_form" action="/admin_panel" method="post" enctype="multipart/form-data" onsubmit="return verify_inputs()">
                  <input id="optedto" name='action' style="visibility:hidden"  value="10">  <!-- to pass which operation to do -->
                  <div id="add_cate" style="display: none;">
                      <input id="new_cat" class="m-1" type="text" placeholder="New Catagory Name" name="category">
                      <input id="f_name" class="m-1" type="file" name="filename" /><br>
                      <select id="unit" name="unit" id="unit" style="width: 192px;">
                        <option value="SEL">Choose Unit</option>
                        <option value="Kg">Kg</option>
                        <option value="Number">Number</option>
                      </select><br>
                      <input class="m-1" type="submit" value="Update" />
                  </div>
                  <div id="purch_itm" style="display: none;">
                    <select  onchange="changeImageToo()" name="fishname" id="fishname" style="width: 192px;">
                      <option value="SEL" >Select Fish</option>
                      {{ range .FishCatagories }}
                        <option value="{{.ID}}">{{.Name}}</option>
                      {{ end }}
                    </select>
                    <input id="p_price" class="m-1" type="text" placeholder="Purchasing Price(Rs)" name="purch_price">
                    <input id="s_price" class="m-1" type="text" placeholder="Selling Price(Rs)" name="selling_price"><br>
                    <input id="p_qty" class="m-1" type="text" placeholder="Purchasing Quandity" name="purch_qty">
                    <div class="card"></div>
                    <img id="fishImg" class="m-1" src="http://debian:8080/file/SEL.jpg" style="border: 1px solid #555;" alt="Fish Pic" width="190" height="150"><br>
                    <input class="m-1" type="submit" value="Update" />
                </div>
                <div id="stock_adj" style="display: none;">
                  <select  onchange="change_ImageToo()" name="fish_name" id="fish_name" style="width: 192px;">
                    <option value="SEL" >Select Fish</option>
                    {{ range .FishCatagories }}
                      <option value="{{.ID}}">{{.Name}}[{{.Stock}} {{.Unit}}]</option>
                    {{ end }}
                  </select>
                  <input id="adj_qty" class="m-1" type="text" placeholder="Enter Quandity" name="adj_qty" onkeypress="return isNumber(event)" >
                  <div class="card"></div>
                  <img id="fish_Img" class="m-1" src="http://debian:8080/file/SEL.jpg" style="border: 1px solid #555;" alt="Fish Pic" width="190" height="150"><br>
                  <input class="m-1" type="submit" value="Update" />
              </div>                
              </form>
            
            </div>
      </div>
    </div>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Toggle control-->
    <script>
      //Verify Inputs
      function  verify_inputs(){
        var operation = document.getElementById("optedto").value 
        if (operation == "purchase"){
              var fishid = document.getElementById("fishname").value
              var pPrice = document.getElementById("p_price").value;
              var sPrice = document.getElementById("s_price").value;
              var pQty = document.getElementById("p_qty").value;
              if (fishid=="SEL" || pPrice =="" || sPrice=="" || pQty==""  ){
                  alert("Please Provide all Imputs !!")
                  return false
              }
              alert("Details Updated Successfully!!")
        }else if(operation == "category"){
          var fileName = document.getElementById("f_name").value
          var newCategory = document.getElementById("new_cat").value
          var unit = document.getElementById("unit").value
          if (unit=="SEL" || fileName =="" || newCategory=="" ){
                  alert("Please Provide all Imputs !!")
                  return false
              }
              alert("Details Updated Successfully!!")
        }else if(operation == "stockadj"){
          var stockAdjto = document.getElementById("adj_qty").value
          var selectedFish = document.getElementById("fish_name").value
          if (selectedFish=="SEL" || stockAdjto < 0 ){
                  alert("Please Provide all Imputs !!")
                  return false
              }
              alert("Details Updated Successfully!!")
        }

      }
      //to change image based on select tag
      function changeImageToo(){
        var fishid = document.getElementById("fishname").value
        document.getElementById("fishImg").src = "http://debian:8080/file/" + fishid + ".jpg"
      }
      function change_ImageToo(){
        var fishid = document.getElementById("fish_name").value
        document.getElementById("fish_Img").src = "http://debian:8080/file/" + fishid + ".jpg"
      }
      function toggleCtrls(clicked_id) {
        document.getElementById("optedto").value = clicked_id
        var category = document.getElementById("add_cate");
        var purch_itm = document.getElementById("purch_itm");
       var stk_adj = document.getElementById("stock_adj");
        if (clicked_id === "purchase"){
          purch_itm.style.display = "block";
          category.style.display = "none";
          stk_adj.style.display = "none";
        }
        if(clicked_id == "category"){
          purch_itm.style.display = "none";
          category.style.display = "block";
          stk_adj.style.display = "none";
        }
        if(clicked_id == "stockadj"){
          purch_itm.style.display = "none";
          category.style.display = "none";
          stk_adj.style.display = "block";
        }
      }
      //Allow only Number
    function isNumber(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if (charCode > 31 && (charCode < 48 || charCode > 57)) {
          return false;
      }
    return true;
    }
      </script>
      <script>
          function preback(){
            window.history.forward();
        }
        setTimeout("preback()",0);
        window.onunload=function(){null};
       </script>
    <!--End-->
    <style>
      div {
  border-style: solid;
  border-color: coral;
  border-width: 1px;
}
.admn_buttons{
  width: 150px;

}
    </style>
  </body>
</html>
