<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{{.title}}</title>
  </head>
  <body>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: {{.diplay}};">
        <strong>Oh!!!!</strong> You have entered an invalid username or password.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="container mt-5 ">
            <div class="jumbotron  mx-auto" style="width: 60%;">
                <!-- <form class="form-block"> -->
                <form  class="form-block pb-3" action="/userotpverify" method="POST" onsubmit="return verify_inputs()">
                    <h4 class="text-center">Enter code received</h4>
                    <!-- FontAwesome -->
                    <link 
                    rel="stylesheet"
                    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
                    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                    <div class="container" style="width: 60%;" >
                        <div class="form-group">
                            <div class="input-group ">
                                <input onkeyup="moveFocusToNext(this.id)" name="code_p1" id="code_p1" type="text" class="form-control p-1 m-1 text-center" placeholder="__" maxlength="1">
                                <input onkeyup="moveFocusToNext(this.id)" name="code_p2" id="code_p2" type="text" class="form-control p-1 m-1 text-center" placeholder="__" maxlength="1">
                                <input onkeyup="moveFocusToNext(this.id)" name="code_p3" id="code_p3" type="text" class="form-control p-1 m-1 text-center" placeholder="__" maxlength="1">
                                <input onkeyup="moveFocusToNext(this.id)" name="code_p4" id="code_p4" type="text" class="form-control p-1 m-1 text-center" placeholder="__" maxlength="1">
                                <input onkeyup="moveFocusToNext(this.id)" name="code_p5" id="code_p5" type="text" class="form-control p-1 m-1 text-center" placeholder="__" maxlength="1">
                                <input onkeyup="moveFocusToNext(this.id)" name="code_p6" id="code_p6" type="text" class="form-control p-1 m-1 text-center" placeholder="__" maxlength="1">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4 float-right">Verify</button>
                </form>
            </div>
    </div>

    <!--MyJava-->
    <script>
        function moveFocusToNext(textBoxID){
          if (textBoxID == "code_p1"){
            document.getElementById("code_p2").focus();
          }else if (textBoxID == "code_p2"){
            document.getElementById("code_p3").focus();
          }else if (textBoxID == "code_p3"){
            document.getElementById("code_p4").focus();
          }else if (textBoxID == "code_p4"){
            document.getElementById("code_p5").focus();
          }else if (textBoxID == "code_p5"){
            document.getElementById("code_p6").focus();
          }
          // alert(this.Id)
        }
        function  verify_inputs(){
            var code_p1 = document.getElementById("code_p1").value;
            var code_p2 = document.getElementById("code_p2").value;
            var code_p3 = document.getElementById("code_p3").value;
            var code_p4 = document.getElementById("code_p4").value;
            if (code_p1=="" || code_p2 =="" || code_p3 =="" || code_p4 ==""){
                alert("All fields are Mandatory !!")
                return false
            }
            alert (" Your are Successfully Logged In, Continue Shopping..")
        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>