<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{{.title}}</title>
  </head>
  <body>
    <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: {{.diplay}};">
        <strong>Oh!!!!</strong> You have entered an invalid username or password.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
    <div class="container mt-5 ">
            <div class="jumbotron  mx-auto" style="width: 60%;">
              <a class="float-right m-1" href="http://debian:8080/signup">Sign Up</a>
                <!-- <form class="form-block"> -->
                <form  class="form-block pb-3" action="/userlogin" method="POST" onsubmit="return verify_inputs()">
                    <h4>User Login</h4>
                    <!-- FontAwesome -->
                    <link 
                    rel="stylesheet"
                    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
                    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                    <div class="container" style="width: 60%;" >
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">  
                                    <span class="input-group-text">
                                    <i class="fas fa-mobile"></i>
                                    </span>
                                </div>
                                <!-- <input name="mobile_no" id="mobile_no"  required="true" class="form-control" placeholder="Mobile Numer Eg:98460XXXXX" maxlength="10"> -->
                                <input name="mobile" required="true" id="mobile" type="text" maxlength="10" class="form-control p-1 m-1" onkeypress="return event.charCode >= 47 && event.charCode <= 57" placeholder="Mobile Number">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4 float-right">Submit</button>
                </form>
            </div>
    </div>

    <!--MyJava-->
    <script>
        function  verify_inputs(){ //TBD filed required allready given ,SO do another error check, like verify mobile number , 
          var mob = document.getElementById("mobile").value
          if (mob.length != 10){
              alert("Mobile number shoud have 10 Digits You missed "+ (10 - mob.length) + " Digit/s")
              return false
          }
          
        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>